{
	"parser": "babel-eslint",
	"extends": "iamnapo",
	"rules": {
		"react/prop-types": "off",
		"max-len": "off",
		"jsx-a11y/anchor-is-valid": "off",
		"camelcase": "off",
		"jsx-a11y/accessible-emoji": "off",
		"react/no-unescaped-entities": "off"
	}
}
