# Project dependencies
.cache
node_modules
yarn-error.log
package-lock.json
yarn.lock

# Build directory
/public
.DS_Store

# Python cache
__pychache__
*.pyc

# .env files
.env

# Pycharm files
.idea
